header
    .follow_box
        input.follow_input(type="text" placeholder="id" v-model="follow_id")
        button.follow_button(@click='createFollow') フォローする
        button.follow_button(@click='deleteFollow') フォローをはずす
    button.tubuyaki(@click='show = !show') つぶやく
    a.me(href="/me")
    a.timeline(href='/')
    a.settings(href='/login')
    transition(name='fade')
        .tweet-box(@click.self="show = !show" v-if='show')
            .tweet-box-form
                textarea.tweet-box_textarea(v-model="text")
                .tweet-box-buttons
                    button.tweet-box_button(@click='tweet(),show = !show') つぶやく