extends layout.pug

block main
    custom-form
    p(style="text-align:center;letter-spacing:2px;font-weight:700; ")
        a(href="/register" style="color:#2C5379;text-decoration:none") 登録されていない方はこちら
