.custom-form {
  background: #2C5379;
  border: solid 15px #009999;
  width: 500px;
  height: auto;
  padding-bottom:30px;
  text-align: center;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -265px;
  input {
    margin-top: 50px;
    height: 30px;
    font-size: 15px;
    width: 250px;
    border: solid 5px #006666;
  }
  button {
    display:block;
    margin:0 auto;
    padding:7px;
    color: #f5f5f5;
    box-sizing:border-box;
    margin-top: 50px;
    background: #009999;
    border: solid 5px #006666;
    transition: all 0.5s;
    letter-spacing: 2px;
  }
}