.profile-head {
  background: #2C5379;
  height: 150px;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: -90px;
    left: 50%;
    margin-left: -95px;
    background: url('/img/chanu.jpeg');
    height: 180px;
    width: 180px;
    border: solid 5px #009999;
  }
}

.self-introduction {
  height: 250px;
  padding-top: 130px;
  border-bottom: solid 3px #fff;
  text-align: center;
}

.self-introduction_p {
  letter-spacing: 1px;
  line-height: 25px;
}

.tweets {}

.tweet {
  box-sizing: border-box;
  width: 800px;
  height: auto;
  margin-bottom: 20px;
  border: solid 5px #009999;
  transition: all 0.5s;
  background: #fff;
  margin: 20px auto;
  &:hover {
    border: solid 5px #006666;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.tweet-body {
  padding: 10px;
  letter-spacing: 2px;
  height: auto;
  box-sizing: border-box;
  line-height: 25px;
  img {
    display: block;
    width: 55%;
    margin: 20px auto;
    border-radius: 10px;
  }
}