section
    .profile-head
        .container
            img.samune(src="/img/chanu.jpeg")
            .self-introduction
                p.self-introduction_p
                | ちゃぬだよ、モック作成なうだよ
                br
                | ここは自己紹介文を書くところ
    .container
        .tweets
            .tweet(v-for="item in items")
                .tweet-body
                    p {{item.tweet}}
                    img(:src="item.content_img")
