.tweets {
  -webkit-column-count: 4;
  -webkit-column-gap: 30px;
  -moz-column-count: 4;
  -moz-column-gap: 30px;
  column-count: 4;
  column-gap: 30px;
}

.tweet {
  box-sizing: border-box;
  width: 300px;
  height: auto;
  margin-bottom: 30px;
  border: solid 5px #009999;
  transition: all 0.5s;
  background: #fff;
  break-inside: avoid;
  word-wrap: break-word;
  &:hover {
    border: solid 5px #006666;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  }
}

.tweet-head {
  width: 100%;
  height: 100px;
  display: flex;
  letter-spacing: 2px;
  background: #2C5379;
  position: relative;
}

.tweet-head_img {
  height: 80px;
  width: 80px;
  border: solid 5px #009999;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 10px;
}

.tweet-head_h2 {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 100px;
}

.tweet-body {
  padding: 10px;
  letter-spacing: 2px;
  height: auto;
  box-sizing: border-box;
  line-height: 25px;
  img {
    display: block;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
  }
}